@use "../mixins/responsive.scss" as *;
@use "../mixins/pseudo.scss" as *;
@use "../mixins/hover.scss" as *;
@use "../config/variables.scss" as *;

.arrow-left{
    position: absolute;
    bottom: 100px;
    width: 35px;
    height: 35px;
    left: 5px;
    background-image: url(/dist/assets/images/ic_arrow.svg);
    background-repeat: no-repeat;
    background-size: contain;

    @include responsive(tablet) {
        width: 50px;
        height: 50px;
        bottom: 70px;

    }

    @include responsive(laptop) {
        left: 5%;
        bottom:320px;
        width: 50px;
        height: 70px;

    }

   

}

.arrow-right{
    position: absolute;
    right: 5px;
    bottom: 100px;
    width: 35px;
    height: 35px;
    background-image: url(/dist/assets/images/ic_arrow.svg);
    background-repeat: no-repeat;
    background-size: contain;
   transform: rotate(180deg);

   @include responsive(tablet) {
    width: 50px;
    height: 50px;
    bottom: 70px;

}


   @include responsive(laptop) {
    right: 5%;
    bottom: 320px;
    width: 50px;
    height: 70px;

}
}