@use "../mixins/responsive.scss" as *;
@use "../mixins/pseudo.scss" as *;
@use "../mixins/hover.scss" as *;
@use "../config/variables.scss" as *;

.article{
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 10rem;

    @include responsive(laptop) {
        flex-direction: row;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 15rem;
        gap: 10%;
    }

    &--reverse{
        flex-direction: row-reverse;
        text-align: right;
    }
}

.article-content{
    @include responsive(laptop) {
        width: 60%;
    }
}