@use "../mixins/responsive.scss" as *;
@use "../mixins/pseudo.scss" as *;
@use "../mixins/hover.scss" as *;
@use "../config/variables.scss" as *;

.article{
    padding-top: 10rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 10rem;
    

    @include responsive(laptop) {
        flex-direction: row;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 15rem;
        justify-content: space-between;
        padding-left: var(--padding-left-right-desktop);
        padding-right:var(--padding-left-right-desktop) ;
    }

    


    &--slider{
        padding-top: 0;
        padding-left: 0;
        padding-right: 0;
           @include responsive(laptop) {

           padding-left: var(--padding-left-right-desktop);
           padding-right:var(--padding-left-right-desktop) ;
        }

    }
}

.article-content{
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    @include responsive(laptop) {
        flex-direction: row;
        justify-content: space-between;
        gap: 10%;
    }

    @include responsive(tablet) {
        flex-direction: row;
        justify-content: space-between;
        gap: 10%;
    }
}

.article__text{
    @include responsive(laptop) {
        width: 50%;
    }

    @include responsive(tablet) {
        width: 50%;
    }
    
}