@use "../mixins/pseudo.scss" as *;
@use "../mixins/responsive.scss" as *;

html {
  font-size: 16px;
  scroll-behavior: smooth
}

body {
  position: relative;
  font-family: fotr;
  font-weight: 500;
  overflow: hidden;
  background: 
    url(../assets/images/bg-left.svg) -300px 200vh no-repeat,
    url(../assets/images/bg-right.svg) -800px 100vh no-repeat,
    hsl(0, 2%, 13%);

    @include responsive(tablet) {
      background:
        url(../assets/images/bg-left.svg) -500px 180vh no-repeat,
        url(../assets/images/bg-right.svg) -400px 50vh no-repeat,
        hsl(0, 2%, 13%);
     
      background-repeat: no-repeat ;
      
    }
    @include responsive(laptop) {
      background:
        url(../assets/images/bg-left.svg) -300px 180vh no-repeat,
        url(../assets/images/bg-right.svg) 300px 80vh no-repeat,
        hsl(0, 2%, 13%);
     
      background-repeat: no-repeat ;
      
    }
    
 
  @include responsive(desktop) {
      background:
        url(../assets/images/bg-left.svg) -300px 180vh no-repeat,
        url(../assets/images/bg-right.svg) calc(100% + 200px ) 80vh no-repeat,
        hsl(0, 2%, 13%);
     
      background-repeat: no-repeat ;
      
    }

 
 

  //    &::after{
  //     @include pseudo(100%, 100%){
  //     top: 0;
  //     position: fixed;
  //     z-index: 10;
  //     background-image: url(../assets/images/crt-effect.svg);

  // }
  //    }
}
