@use '../mixins/pseudo.scss' as *;
@use "../mixins/responsive.scss" as *;

html {
    font-size: 12px;
}

@font-face{
    font-family: fotr;
    src: url(../assets/fonts/fot-rodin-pro-cufonfonts/FOTRodin-Pro-M.otf);
}

@font-face{

    font-family: red-seven;
    src: url(../assets/fonts/red-seven/Red\ Seven.otf);
}

body {
    position: relative;
    font-family: fotr;
    font-weight: 500;
    background: hsl(0,2%,13%)
    url(/dist/assets/images/background-pattern-mobile.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

   @include responsive(laptop) {
       background: hsl(0,2%,13%)
        url(/dist/assets/images/background-pattern-desktop.svg);
        background-repeat: no-repeat;
       background-position: center 70vh;
       
   }
   

//    &::after{
//     @include pseudo(100%, 100%){
//     top: 0;
//     position: fixed;
//     z-index: 10;
//     background-image: url(../assets/images/crt-effect.svg);

// }
//    } 
}
