@use "../mixins/responsive.scss" as *;
@use "../mixins/pseudo.scss" as *;
@use "../mixins/hover.scss" as *;
@use "../config/variables.scss" as *;

.mail-button{
    border: solid 1px var(--white);
    width: 150px;
    text-align: center;
    padding-top: 0.75rem;
    height: 3rem;
    transition-property: background-color;
    transition-duration: 0.5s;

    &:hover{
        @include hover{
          cursor: pointer;
          background-color: var(--black-transparent);
          color: var(--white);
          transition-property: background-color;
          transition-duration: 0.5s;
        }
      }
    
}