@use "../mixins/responsive.scss" as *;
@use "../mixins/pseudo.scss" as *;
@use "../mixins/hover.scss" as *;
@use "../config/variables.scss" as *;



.header{

    &__top{
        display:flex ;
        flex-direction: row;
        justify-content: space-between;
        position: relative;
        background-color:rgba(0, 0, 0, 0.5);
        border-bottom: solid 1px var(--white);
        height: 62px;
        width: 100%;
        padding-top: 1rem;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        position: fixed;
        z-index: 100;

        // &::before{
        //     @include pseudo (100%, 1px){
        //         background-color: var(--white);
        //         bottom: 0;
        //     }
        // }

       
 
    }


    &__bottom{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 100vh;
        background-color: rgb(26, 26, 26);
       

        &-subtitles{
            font-size: 0.8rem;
            display: flex;
            justify-content: center;
           
            color: transparent;
            animation-name: subintro;
            animation-duration: 3s;
            animation-delay: 1s;
            animation-fill-mode: forwards;

         @keyframes subintro {
            0% {
            transform: translateY(-10px);
            color: transparent;
             }
      

             100%{
            color: var(--white) ;
            transform: translateY(0px);
            
             }
            }
            
        }
    }
   
}




