@use "../mixins/responsive.scss" as *;
@use "../mixins/pseudo.scss" as *;
@use "../mixins/hover.scss" as *;
@use "../config/variables.scss" as *;

.hr{
    width: 60%;
    height: 1px;
    background:linear-gradient(
    to right,
    transparent,
    var(--white) 50%,
    transparent) 80%;
   &--main{
    position: relative;
     height: 1px;
     width: 120%;
     background-color: var(--white);

     &::after {
        @include pseudo (10px, 10px){
            background-color: var(--light-blue);
            right: 0;
            top: -10px;
        }
     }
 
   }

   &--menu{
    position: relative;
     height: 1px;
     width: 120%;
     background-color: var(--white);
    top: 15px;
     &::after {
        @include pseudo (10px, 10px){
            background-color: var(--light-blue);
            right: 0;
            top: -10px;
        }
     }
     @include responsive(laptop) {
        display: none;
    }
    @include responsive(tablet) {
        display: none;
    }
   }

@include responsive(laptop) {
    width: 40%;
}

}