@use "../mixins/responsive.scss" as *;
@use "../mixins/pseudo.scss" as *;
@use "../mixins/hover.scss" as *;

.about-me{
&__img-container {
    position: relative;
    max-width: fit-content;
    padding: 3px;
    @include responsive(tablet) {
      // top: 30px;
    }
    @include responsive(desktop) {
      width: 50%;
    }

    &::before {
      display: block;
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border: 1px solid #ccc;
    }
  }

  &-img{
    position: relative;
    @include responsive(tablet) {
        width: 350px;
      }
      @include responsive(desktop) {
        width: 350px;
      }
      &--shadow{
        position: absolute;
        top: 7px;
        left: -31px;
        z-index: -20;
        animation-name: shadow;
            animation-duration: 1s;
            animation-delay: 1s;
            animation-fill-mode: forwards;

        // @keyframes shadow {
        //   0% {
        //   transform: translateX(0px);

        //    }
    

        //    100%{

        //   transform: translateX(33px);

          
        //    }
        //   }
      }
  }

  &__img-img {
    position: relative;
    z-index: 10;
    
    
  }

  &__img-box {
    &::after {
      @include pseudo(5%, 100%) {
        top: 0;
        left: 0;
        background: linear-gradient(
          var(--white) 4%,
          transparent 4% 96%,
          var(--white) 96%
        );
      }
    }
    &::before {
      @include pseudo(5%, 100%) {
        top: 0;
        right: 0;
        background: linear-gradient(
          var(--white) 4%,
          transparent 4% 96%,
          var(--white) 96%
        );
      }
    }
    @include responsive(tablet) {
      &::after {
        @include pseudo(4%, 100%) {
          background: linear-gradient(
            var(--white) 3%,
            transparent 3% 97%,
            var(--white) 97%
          );
        }
      }
      &::before {
        @include pseudo(4%, 100%) {
            background: linear-gradient(
              var(--white) 3%,
              transparent 3% 97%,
              var(--white) 97%
          );
        }
      }
    }
    @include responsive(laptop) {
      &::after {
        @include pseudo(5%, 100%) {
          background: linear-gradient(
            var(--white) 4%,
            transparent 4% 96%,
            var(--white) 96%
          );
        }
      }
      &::before {
        @include pseudo(5%, 100%) {
            background: linear-gradient(
              var(--white) 4%,
              transparent 4% 96%,
              var(--white) 96%
          );
        }
      }
    }

    @include responsive(desktop) {
      &::after {
        @include pseudo(6%, 100%) {
          background: linear-gradient(
            var(--white) 5%,
            transparent 5% 95%,
            var(--white) 95%
          );
        }
      }
      &::before {
        @include pseudo(6%, 100%) {
          top: 0;
          right: 0;
          background: linear-gradient(
            var(--white) 5%,
            transparent 5% 95%,
            var(--white) 95%
          );
        }
      }
    }
}
}