@use "../mixins/responsive.scss" as *;
@use "../mixins/pseudo.scss" as *;
@use "../mixins/hover.scss" as *;


.menu{
    position: absolute;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 62px);
    left: 0;
    top: 62px;
    text-align: center;
    width: 100%;
    padding: 4rem;
    align-items: center;
    background: linear-gradient(
        90deg,
        var(--corner-dark),
       var(--center-light)10%,
       var(--center-light)90%,
       var(--corner-dark)
    );
    opacity: 0;
  
   
    @include responsive(laptop) {
        font-size: 1rem;
        display: flex;
        position: relative;
        top: 0;
        flex-direction: row;
        width: 900px;
        padding: 0;
        justify-content: space-evenly;
        background: transparent;
       
        
    }

    &__bar{
        position: absolute;
        right: 10%;
        height: 255px;
        width: 5px;
        background-color: var(--buttons);

        @include responsive(laptop) {
            height: 40px;
            right: 20px; 
        }
    }

    &__item{
        font-size: 0.8rem;
        position: relative;
        display: none;
        align-items: center;
        justify-content: flex-end;
        padding-right: 1rem;
        height: 30px;
        width: 250px;
        background-color: var(--buttons);
        margin-bottom: 1.9rem;
        opacity: 0;
        

        &:hover{
            @include hover{
                background-color: var(--dark-blue);
                color: var(--light-blue);

                &::after{
                    background-color: var(--dark-blue);
                }
            }
        }

        @include responsive(laptop) {
            margin-bottom: 0;
            width: 150px;
            justify-content: center;
            padding-right: 0;
        }

       
       
    }

    &__icon{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 30px;
        width:100px;
        margin-right: 3rem;
        font-size: 0.8rem;
        background-color: var(--buttons);
        background-repeat: no-repeat;

        &:hover{
            @include hover{
                cursor: pointer;
                background-color: var(--dark-blue);
                color: var(--light-blue);

                &::after{
                    background-color: var(--dark-blue);
                }
            }
        }


        @include responsive(laptop) {
            display: none;
        }
    }

    &--show{
        
        opacity: 1;
        transition: opacity 0.7s;
        
       
    }
    &__item--show{

        opacity: 1;
        transition: opacity 1s;
    }

}

