@use "../mixins/responsive.scss" as *;
@use "../mixins/pseudo.scss" as *;
@use "../mixins/hover.scss" as *;
@use "../config/variables.scss" as *;

.menu{
   display: none;
    

    @include responsive(laptop) {
        position: relative;
        top: 0;
        flex-direction: row;
        width: 1000px;
        padding: 0;
        justify-content: space-evenly;
        
    }

    &__bar{
        position: absolute;
        right: 10%;
        height: 255px;
        width: 5px;
        background-color: var(--buttons);

        @include responsive(laptop) {
            height: 40px;
            right: 20px; 
        }
    }

    &__item{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 1rem;
        height: 40px;
        width: 250px;
        background-color: var(--buttons);
        margin-bottom: 1.9rem;
        

        &:hover{
            @include hover{
                background-color: var(--dark-blue);
                color: var(--light-blue);

                &::after{
                    background-color: var(--dark-blue);
                }
            }
        }

        @include responsive(laptop) {
            margin-bottom: 0;
            margin-right: 1rem;
            width: 180px;
        }

        &::after{
            @include pseudo (30px,40px){
                 background-color: var(--buttons);
                 left: -29px;
                 clip-path: polygon(0 0, 100% 0, 100% 50%, 100% 100%, 100% 100%, 0 40%);

            }
        }

       

    }

    &__icon{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 1rem;
        height: 40px;
        width:70px;
        margin-right: 3rem;
        background-color: var(--buttons);
        background-repeat: no-repeat;

        &:hover{
            @include hover{
                cursor: pointer;
                background-color: var(--dark-blue);
                color: var(--light-blue);

                &::after{
                    background-color: var(--dark-blue);
                }
            }
        }

        &::after{
            @include pseudo (30px,40px){
                 background-color: var(--buttons);
                 left: -29px;
                 clip-path: polygon(0 0, 100% 0, 100% 50%, 100% 100%, 100% 100%, 0 40%);
            }
        }

        @include responsive(laptop) {
            display: none;
        }
    }
}

.menu--show{
    position: absolute;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 100%;
    left:0;
    top: 60px;
    text-align: right;
    width: 100%;
    padding: 4rem;
    align-items: center;
}