@use "../mixins/responsive.scss" as *;
@use "../mixins/pseudo.scss" as *;
@use "../mixins/hover.scss" as *;
@use "../config/variables.scss" as *;

.slider{
    display: flex;
    transform: translateX(var(--slider-translate));
    transition: transform 1s;

&__content{
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    
}
&__img{
    width: 100%;

    
}

&__description{
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    height: 100%;
    background-color: rgba(81, 81, 88, 0.8);
  
}

&__buttons{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;

    @include responsive(tablet) {
        justify-content: flex-start;
        gap: 100px;
        
        }
}
   
}

.slider__container{
    
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    max-width:430px ;
    border: solid 2px var(--white);

    @include responsive(tablet) {
        max-width:600px ;
        
        }
 @include responsive(laptop) {
        max-width:1120px ;
        
        }

   }