@font-face {
  font-family: fotr;
  src: url(../assets/fonts/fot-rodin-pro-cufonfonts/FOTRodin-Pro-M.otf);
}

@font-face {
  font-family: red-seven;
  src: url(../assets/fonts/red-seven/Red\ Seven.otf);
}
