:root {
  --dark-blue: hsl(240, 4%, 33%);
  --buttons:hsl(224, 9%, 64%);
  --light-blue:hsl(211, 21%, 80%);
  --white: hsl(182, 100%, 97%);

  //Gradiants light

  --center-light:hsl(211, 35%, 72%);
  --corner-dark: hsl(224, 20%, 56%);

  //Gradiants dark

  --center-dark:hsl(240, 11%, 30%);
  --corner-darker: hsl(224, 16%, 26%);

  --transition-duration:0;

  //Font size

  --titles: 2rem;
  --text: 0.75rem;

}

/* Variables SASS */
