:root {
  --black: hsl(0,0%,0%);
  --black-transparent: rgba(0, 0, 0, 0.8);
  --white: hsl(0, 0%, 100%);
  --background: hsl(0, 2%, 13%);

  //Gradiants light

  --center-light:hsl(211, 35%, 72%);
  --corner-dark: hsl(224, 20%, 56%);

  //Gradiants dark

  --center-dark:hsl(240, 11%, 30%);
  --corner-darker: hsl(224, 16%, 26%);

  --transition-duration:0;

  //Font size

  --titles:3rem;
  --titles-mobile:2.5rem;
  --text:0.75rem;


  --padding-left-right-desktop: 10rem;
  --padding-left-right-tablet: 6rem;

  --slider-translate:0
}

/* Variables SASS */
  $white: hsl(0, 0%, 100%); 
  $black: hsl(0,0%,0%); 
  $black-transparent: rgba(0, 0, 0, 0.8);
  $background: rgb(34, 32, 32, 1);
  